
<!-- <div style="background-image: url('https://cdn.pixabay.com/photo/2015/01/31/05/05/background-618226__340.png');background-repeat: no-repeat;background-attachment: fixed; background-size: cover;"> -->

    <!-- <div class="row d-flex justify-content-center">
        <div class="col-lg-3" >

           <br>
           <img style=" margin-top: 150px;"src="https://thumbs.dreamstime.com/b/hotel-round-design-template-line-icon-concept-vector-welcome-hotel-service-round-design-template-line-icon-concept-travel-106200329.jpg"/>
           </div> -->
         <!-- <header>
           <nav class="navbar navbar-expand-sm navbar-da">
            <div class="header">
              <h3>JJ HOSPITAL</h3>
            </div>
            <ul class = "navbar-nav"> -->
                <!-- <button id="home"(click)="SignUp()"> <i  class="bi bi-person"></i>SignUp</button> -->
                <!-- <button id="home"(click)="SignIn()"><i class="btn btn-primary"></i>SignIn</button> -->
               <!-- <button id="home"(click)="customerSignUp()"> <i  class="bi bi-person"></i>User Login</button>
                <button id="home"(click)="contactUs()"> <i  class="fa fa-phone"></i>Contact us</button>
                <button id="home"(click)="aboutUs()"> <i  class="fa fa-phone"></i>About us</button>-->

            <!-- </ul>
        </nav>
      </header> -->


      <nav class="navbar navbar-expand-sm navbar-da" style="background-color:white">
        <div class="container-fluid">

          <h2 ><i class="fa-solid fa-hospital"></i> A.K Hospital</h2>

           <ul class = "nav navbar-nav">
            <button (click)="appointment()"class="btn btn-secondary navbar-btn"><i class="fa-regular fa-house-medical-circle-check"></i>Appointment</button><br>

            <button (click)="SignIn()"class="btn btn-primary navbar-btn"><i class="fa-solid fa-user"></i>SignIn</button>

            </ul>

        </div>
      </nav>

<body>


        <form class="">
          <div class="col-md-6 offset-md-3">
            <h2 class="text-center">Emergency</h2>
            <p class="text-center">Dail:- 044-1234 1234</p>
          </div>

        </form>
        <img style=" margin-top: -100px;opacity: 0.3;" src=".\assets\image\image1.png">
      </body>
