<header>
<app-doctordashboard></app-doctordashboard>

<header class="modal-body">
  <body>
    <nav class="navbar navbar-expand-sm navbar-da" style="background-color:whitesmoke">
    <div class="container-fluid">

      <h2>My profile</h2>

    </div>
  </nav>



  <div class="row">
          <div class="form-group col-3">
              <label> <font color="blue">ID</font></label><br/>
              <span class="text">{{doctor.id}}</span>
          </div>
          <div class="form-group col-3">
              <label><font color="blue">Name</font></label><br/>
              <span class="text">{{doctor.firstName}}</span>
         </div>
          <div class="form-group col-3">
              <label><font color="blue">EmailID</font></label><br/>
              <span class="text">{{doctor.email}}</span>
          </div>
          <div class="form-group col-3">
              <label><font color="blue">Password</font></label><br/>
              <span class="text">{{doctor.password}}</span>
          </div>


        <div class="form-group col-3">
            <label> <font color="blue">Contactno</font></label><br/>
            <span class="text">{{doctor.contactno}}</span>
        </div>
        <div class="form-group col-3">
            <label><font color="blue">Department</font></label><br/>
            <span class="text">{{doctor.department}}</span>
       </div>
        <div class="form-group col-3">
            <label><font color="blue">Qualification</font></label><br/>
            <span class="text">{{doctor.qualification}}</span>
        </div>

  </div>
    </body>
</header>
