<header>
  <app-admin></app-admin>
</header>

<nav class="shadow-lg p-2 mb-3 bg-white rounded">
<div class="row page-titles">
  <div class="col-md-5 align-self-center">
      <h4 class="text-themecolor">Appointment List</h4>
  </div>
  <div class="col-md-7 align-self-center text-right">
      <div class="d-flex justify-content-end align-items-center">
          <!-- <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="javascript:void(0)" (click)="back()">Home</a></li>
              <li class="breadcrumb-item active"> <a href="javascript:void(0)" (click)="create()">Create Profile</a></li>
          </ol> -->
      </div>
  </div>
</div>
</nav>


<div class="table-responsive">
  <table class="table color-bordered-table theme-bordered-table">
      <thead>
          <tr>
              <th>Appointment Id</th>
              <th>Age</th>
              <th>DOA</th>
              <th>Disease</th>
              <th>PatientID</th>


          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let appointment of Appointment;">
              <td>{{appointment.id}}</td>
              <td>{{appointment.age}}</td>
              <td>{{appointment.dates}}</td>
              <td>{{appointment.disease}}</td>
              <td>{{appointment.id}}</td>

              <td >


                  </td>

          </tr>

      </tbody>
  </table>
<footer>
  <div>
    <br>
    <br><br><br>
<span id="copyright"style="text-align:center"><b style="color: black;">&reg;All rights reserved</b></span>
</div>
</footer>

</div>







